.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
.center{
  justify-content: center;
  align-items: center;
}
.jstifyCenter{
  justify-content: center;
}
.space_between{
  justify-content: center;
}
.fitWidth{
  width: fit-content;
}